.searchbar__box {
  display: flex;
  max-width: 800px;
  height: 20px;
  width: 90%;
  position: relative;
  background-color: rgb(255, 226, 197);
  border-radius: 20px;
  padding: 10px 0 10px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.searchbar__title {
  width: 60%;
  padding-left: 20px;
}

.searchbar_input_title {
  border: none;
  background-color: rgb(255, 226, 197);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  float: left;
  width: 100%;
}

.searchbar_input_title:focus {
  outline: none;
}

.searchbar_input_city:focus {
  outline: none;
}

.searchbar__city {
  width: 40%;
  padding-left: 10px;
  border-left: 2px solid rgb(255, 186, 81);
}
.searchbar_input_city {
  width: 80%;
  border: none;
  background-color: rgb(255, 226, 197);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  float: left;
}

/* .input__submit {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 0px;
    border-radius: 35px;
    right: 5px;
    border: none;
} */

.concertlist__box {
  /* display: flex; */
  max-width: 800px;
  width: 90%;
  position: relative;
  background-color: rgb(255, 226, 197);
  border-radius: 20px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding: 10px 0 10px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.concertitem__box {
  /* display: flex; */
  padding: 10px 0 10px 0;
  margin: 0 20px 0 20px;
  font-size: 30px;
  /* width: 90%; */
  border-bottom: 2px solid rgb(255, 186, 81);
}

.concertitem__box:last-child {
  border-bottom: none;
}

.concertitem__field {
  position: relative;
  text-align: left;
}

.concertitem__title {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.concertitem__title a {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.concertitem__title a:hover {
  color: rgb(255, 186, 81);
}

.concertitem__location_city {
  font-size: 16px;
  font-weight: 400;
  padding: 2px 0 2px 5px;
}

.concertitem__date {
  font-size: 18px;
  /* font-weight: 400; */
  padding: 2px 0 2px 5px;
}

.pagination {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.pagination ul li {
  display: inline-block;
  /* padding: 10px 10px 5px 10px; */
  /* padding: 10px; */
  /* width: 25px;
    height: 20px; */
}

.pagination ul li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 40px;
}

.pagination ul li:hover {
  border-radius: 10px;
  background-color: rgb(255, 208, 138);
  cursor: pointer;
}

.pagination ul li.selected {
  border-radius: 10px;
  background-color: rgb(255, 186, 81);
}

.noconcerts {
  padding: 20px;
  font-weight: 400;
}

.footer__box {
  padding: 20px;
  display: flex;
}

.contribute__box {
  padding: 10px;
}

.contribute__box a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}

.contribute__box a:hover {
  color: rgb(255, 186, 81);
}

.datepicker-button__container {
  margin: 0;
  padding-right: 12px;
}

.datepicker-button {
  background-color: rgb(255, 226, 197);
  border: none;
  padding: 0;
}

.datepicker-button:hover {
  cursor: pointer;
}

.datepicker__container {
  background-color: rgb(255, 226, 197);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  float: right;
}

.datepicker-wrapper__container {
  max-width: 800px;
  width: 90%;
  position: absolute;
  margin-top: 200px;
  z-index: 10;
}

.react-datepicker {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
}

.react-datepicker__month-container {
  font-size: 18px;
}

.react-datepicker__header {
  margin-top: 5px;
  position: relative;
}

.react-datepicker__day-names {
  margin-top: 8px;
  font-weight: 400;
  display: flex;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day {
  width: 25px;
  height: 18px;
  padding: 5px;
}

.react-datepicker__day:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(255, 208, 138);
}

.react-datepicker__day-name {
  width: 35px;
}

.react-datepicker__month {
  margin-top: 2px;
}

.react-datepicker__day--selected {
  border-radius: 10px;
  background-color: rgb(255, 186, 81);
}

.react-datepicker__navigation {
  z-index: 11;
  display: flex;
  position: absolute;
  /* align-items: center; */
  text-indent: -9999px;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.react-datepicker__navigation--previous {
  top: 11px;
  left: 15px;
  background-image: url("arrow-48.png");
  background-size: 18px;
  transform: rotate(270deg);
  background-color: rgb(255, 226, 197);
}

.react-datepicker__navigation--next {
  top: 13px;
  right: 15px;
  background-image: url("arrow-48.png");
  background-size: 18px;
  transform: rotate(90deg);
  background-color: rgb(255, 226, 197);
}
