.searchbar__box {
  display: flex;
  max-width: 800px;
  height: 20px;
  width: 90%;
  position: relative;
  background: rgb(31,20,255);
  background: linear-gradient(193deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 76%);  
  border-radius: 20px;
  padding: 10px 0 10px 0;
}

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.searchbar__title {
  width: 60%;
  padding-left: 20px;
}

.searchbar_input_title {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  float: left;
  width: 100%;
  height: 20px;
  color: white;
}

.searchbar_input_title:focus {
  outline: none;
}

.searchbar_input_city:focus {
  outline: none;
}

.searchbar__city {
  width: 40%;
  padding-left: 10px;
  border-left: 3px solid rgb(0, 0, 0);
}
.searchbar_input_city {
  width: 80%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  float: left;
  height: 20px;
  color: white;
}

.concertlist__box {
  /* display: flex; */
  max-width: 800px;
  width: 90%;
  position: relative;
  /* background-color: rgb(255, 0, 208); */
  /* background: rgb(31,20,255);
  background: linear-gradient(193deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 41%, rgba(255,244,0,1) 100%); */
  background: rgb(31,20,255);
  background: linear-gradient(193deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 76%);
  
  border-radius: 20px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding: 10px 0 10px 0;
}

.concertitem__box {
  /* display: flex; */
  padding: 10px 0 10px 0;
  margin: 0 20px 0 20px;
  font-size: 30px;
  /* width: 90%; */
  border-bottom: 3px solid rgb(0, 0, 0);
}

.concertitem__box:last-child {
  border-bottom: none;
}

.concertitem__field {
  position: relative;
  text-align: left;
}

.concertitem__title {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.concertitem__title a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.concertitem__title a:hover {
  color: rgb(0, 0, 0);
}

.concertitem__location {
  font-size: 16px;
  font-weight: 400;
  padding: 2px 0 2px 5px;
}

.concertitem__location a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
  font-weight: 500;
}

.concertitem__location a:hover {
  color: rgb(0, 0, 0);  
}

.concertitem__date {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0px 2px 5px;
}

.pagination {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color:rgb(0, 0, 0)
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.pagination ul li {
  display: inline-block;
  line-height: 35px;
}

.pagination ul li a {
  display: block;
  width: 36px;
  height: 36px;
}

.pagination ul li a:hover {
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: linear-gradient(13deg, rgba(31,20,255,0.5) 0%, rgba(255,3,225,0.5) 76%);
}

.pagination ul li.selected a {
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  background: linear-gradient(13deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 76%);
}

.noconcerts {
  padding: 20px;
  font-weight: 400;
}

.noconcerts a {
  text-decoration: none;
  color: rgba(255,3,225,1);
}

.noconcerts a:hover {
  color: rgba(31,20,255,1);
  transition: 0.2s;
}

.footer__box {
  padding: 20px;
  display: flex;
}

.contribute__box {
  padding: 10px;
}

.contribute__box a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}

.contribute__box a:hover {
  color: rgba(255,3,225,1);
}

.datepicker-button__container {
  margin: 0;
  padding-right: 12px;
}

.datepicker-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}

.datepicker-button:hover {
  cursor: pointer;
}

.datepicker__container {
  background: rgb(31,20,255);
  background: linear-gradient(193deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 76%);
  border-radius: 20px;
  float: right;
}

.datepicker-wrapper__container {
  max-width: 800px;
  width: 90%;
  position: absolute;
  margin-top: 206px;
  z-index: 10;
}

.react-datepicker {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
}

.react-datepicker__month-container {
  font-size: 18px;
}

.react-datepicker__header {
  margin-top: 5px;
  position: relative;
}

.react-datepicker__day-names {
  margin-top: 8px;
  font-weight: 400;
  display: flex;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day {
  width: 25px;
  height: 18px;
  padding: 8px;
  line-height: 24px;
}

.react-datepicker__day:hover {
  /* width: 25px;
  height: 18px; */
  padding: 5px;  
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(13deg, rgba(31,20,255,0.5) 0%, rgba(255,3,225,0.5) 76%);
}

.react-datepicker__day-name {
  width: 25px;
  height: 18px;
  padding: 8px;
}

.react-datepicker__month {
  margin-top: 2px;
}

.react-datepicker__day--selected {
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  background: rgb(31,20,255);
  background: linear-gradient(13deg, rgba(31,20,255,1) 0%, rgba(255,3,225,1) 76%);
}

.react-datepicker__navigation {
  z-index: 11;
  display: flex;
  position: absolute;
  text-indent: -9999px;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 0;
}

.react-datepicker__navigation--previous {
  top: 13px;
  left: 15px;
  background-image: url("arrow-48.png");
  background-size: 20px;
  transform: rotate(-90deg);
  background-color: rgba(255, 255, 255, 0);
}

.react-datepicker__navigation--next {
  top: 13px;
  right: 15px;
  background-image: url("arrow-48.png");
  background-size: 20px;
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0);
}

p {
  text-align: left;
  max-width: 600px;
  padding: 0 20px 0 20px;
}

p a {
  text-decoration: none;
  color: rgba(255,3,225,1);
}

p a:visited {
  text-decoration: none;
}

p a:hover {
  color: rgba(31,20,255,1);
  transition: 0.2s;
}