.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 235, 199);
}

.heading {
  font-size: 50px;
  margin: 40px 40px 0px 40px;
}

p {
  text-align: left;
  max-width: 600px;
  padding: 0 20px 0 20px;
  line-height: 20px;
}

p a {
  text-decoration: none;
  color: rgb(198, 136, 20);
}

p a:visited {
  text-decoration: none;
}

p a:hover {
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

